body {
    background-color: white;
    height: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.2s  ease-in-out;
}
.navbar{
  background-color: #b685c6;

}

.buscador{
    
    max-width: 80%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}

.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

#footer {
  height: 160px;
  font-size: 13px;
  transform: translate(0, 0);
  transition: transform 0.2s ease-in-out;
  background-color: #b685c6;
}

